.aligncenter {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

div {
    text-align: center;
}

.roadmap{
    text-align: left;
}

.footer{
    text-align: center;
}

